<!doctype html>
<html style=''>
  <head>
    <meta charset="utf8" />
  </head>
  <body style="font-family: sans-serif; text-align: center; padding: 32px 16px;">
    <table style="width: 100%; max-width: 400px; min-width: 300px; margin: 0 auto 32px auto;">
      <tr>
        <td class='logo' style='padding: 16px; background: #003366; border-radius: 4px; text-align: center;'>
          <a href='<%= data.logo.href %>' target='_blank' style='margin: 0 auto; text-align: center;'>
            <img src='<%= data.logo.src %>' alt='<%= data.logo.alt %>' style='height: 36px; margin: 0 auto;'/>
          </a>
        </td>
      </tr>
      <% if (data.title) { %>
      <tr>
        <td class='title' style='padding-top: 48px;'>
          <h1 style='margin: 0 auto; text-align: center; font-size: 22px; line-height: 1.2; padding: 0 16px;'>
            <%= data.title %>
          </h2>
        </td>
      </tr>
      <% } %>
      <% if (data.body) { %>
      <tr>
        <td class='body' style='padding: 0 16px; padding-top: 32px; margin: 0 auto; text-align: center; font-size: 16px; line-height: 1.3;'>
          <%= data.body %>
        </td>
      </tr>
      <% } %>
      <% if (data.linkLists) { %>
      <tr>
        <td class='links' style='padding: 0 16px; padding-top: 32px; margin: 0 auto; text-align: center; font-size: 16px; line-height: 1.3;'>
          <% data.linkLists.forEach(function (list) { %>
          <p>
          <b><%= list.name %></b>
            <ul style="list-style-type: none; margin: 0; padding: 0;">
              <% list.links.forEach(function (link) { %>
              <li style="list-style-type: none; margin: 0; padding: 0; padding-bottom: 12px;">
                <%- include("includes/link", link) %>
              </li>
              <% }); %>
            </ul>
          </p>
          <% }); %>
        </td>
      </tr>
      <% } %>
      <% if (data.callToAction) { %>
      <tr>
        <td class='cta' style='padding-top: 32px;'>
          <a href='<%= data.callToAction.href %>' target='_blank' style='white-space: nowrap; padding: 12px; border-radius: 4px; background: #0c99d6; color: white; text-decoration: none !important; display: block; max-width: 200px; margin: 0 auto; text-align: center; font-size: 16px; line-height: 1.3;'>
            <%= data.callToAction.name%>
          </a>
          <div class='cta-alt' style='padding: 0 16px; color: #6c757d; padding-top: 32px; text-align: center; margin: 0 auto; font-size: 14px; line-height: 1.3; word-wrap: break-word;'>
            If this button isn't working, you can navigate to the following link in your web browser:
            <br />
            <b><%= data.callToAction.href %></b>
          </div>
        </td>
      </tr>
      <% } %>
    </table>
  </body>
</html>
